<ion-header class="ion-padding">
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="../assets/images/profile-default.jpg" alt="Profile Avatar">
    </ion-avatar>
    <ion-title>
      <div class="user-info">
        <div class="user-name">{{ userName }}</div>
        <div class="user-greeting">{{ greeting }}</div>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openNotifications()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
      </ion-button>
      <ion-button (click)="openSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
