<ion-content>
  <ion-list>
    <ion-item>
      <ion-select aria-label="Favorite Fruit" interface="popover" (ionChange)="handleChange($event)" value="member">
        <ion-select-option value="admin">admin</ion-select-option>
        <ion-select-option value="member">aluno</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="center-content">
    <form [formGroup]="loginGroup">
      <ion-item>
        <ion-label position="floating">Email ou CPF</ion-label>
        <ion-input type="text" formControlName="email" name="email">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" name="password"></ion-input>
      </ion-item>

      <ion-button (click)="login()" expand="block">Login</ion-button>
      <ion-button (click)="register()" expand="block" fill="outline">Register</ion-button>
    </form>
  </div>

</ion-content>