form {
    width: 90%;
    max-width: 400px;
}

ion-item {
    // font-size: 14px;
    --box-shadow: none;
    --border-radius: 10px;
}

ion-list {
    width: 100px;
    background: transparent !important;
    position: absolute;
    right: 20px;
    top: 35px;
}