<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="test" href="/test">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="home" (click)="changeTab('home')">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="test" (click)="changeTab('test')">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="changeTab('profile')">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>