<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-header></app-header>

<ion-content class="ion-padding">

  <ion-searchbar #membersSearchbar placeholder="Pesquise pelo nome ou CPF" class="custom-searchbar"
    (ionInput)="filterList($event)"></ion-searchbar>

  <h3 *ngIf="filteredMembers.length > 0">Resultados da busca</h3>

  <ion-item *ngFor="let member of filteredMembers" (click)="openMemberDetails(member)">
    <ion-avatar slot="start">
      <img [src]="member.photo">
    </ion-avatar>
    <ion-label>{{member.name}}</ion-label>
  </ion-item>

</ion-content>